/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/



.mt-1{
	margin-top:10px;
}
.mt-2{
	margin-top:20px;
}
.mt-3{
	margin-top:30px;
}
.mt-4{
	margin-top:40px;
}
.mt-5{
	margin-top:50px;
}

.iconlist li {
    position: relative;
    font-size: 18px;
    padding: 8px 0;
}

.section-b2wads .feature-box.fbox-plain .fbox-icon img{
	height:100% !important;
	top: -100px;
}

.section-b2wads .feature-box.fbox-plain .fbox-icon {
    border: none !important;
    width: auto !important;
    height: auto !important;
}

.section-b2wads .feature-box h3{
	font-size: 23px;
}
.section-b2wads .feature-box p{
	font-size: 18px;
}